<!DOCTYPE html>
<html lang="en">
<head>
 <title> {% block title %}{% endblock title %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/dt/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <link href="/css/select2.min.css" rel="stylesheet">
  {% block css %}
  {% endblock css %}
  <style>
  .wh{
    color: white
  }
  </style>
  </head>
<body>
<div class="container-fluid p-2  text-white text-center" style="background-color:#FFFACD; !important; color: black">
<div class="row">
  <div class="col-sm-1">
    <img src="/images/logo.png" class="circle" style="height: 60px">
  </div>
  <div class="col-sm-5">
  <strong>
  <p style="float: right; color: black">E-LEANING</p> 
  </strong>
  </div>
  <div class="col-sm-3">
			
			</div>
</div>
</div>
  <nav class="navbar navbar-expand-sm" style="background-color: blue !important; color: black ">
  <div class="container-fluid">
    <strong>
      <a class="navbar-brand wh" href="#">IAT</a>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto" >
         <li class="nav-item">
          <strong>
           <a class="nav-link wh admin" href="/module1/list/">FORMATION</a></li>
          </strong>
        </li>
        <li class="nav-item">
          <strong>
            <a class="nav-link wh admin" href="/evaluation/">QUIZ</a></li>
          </strong>
        </li>
        <li class="nav-item">
          <strong>
            <a class="nav-link wh admin" href="/forum/list/">FORUM</a></li>
          </strong>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-link wh" href="/changeE/list">CHANGER MOT DE PASSE</a>
        <a class="btn btn-link wh" href="/logout">DECONNEXION</a>
      </form>
  </div>
</nav>
</div>
  <div class="row">
  <div class="col-sm-11 offset-sm-1">
  </div>
  </div>
<div class="container-fluid">

{% block content %}

{% endblock content %}

</div>
<script src="/dt/js/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dt/js/jquery.dataTables.min.js"></script>
<script src="/dt/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/axios.min.js"></script>
<script src="/js/select2.min.js"></script>
<script>



$(document).ready(function() {
$('.datepicker').datepicker({
		    format: 'yyyy-mm-dd',
		})


  $('#dTable').DataTable( {
        "language": {
            "url": "http://localhost:3800/dt/French.json"
        }
    });

$('.select2menu').select2();


})
</script>
{% block js %}

{% endblock js %}

</body>
</html>